<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar mode="md">
        <ion-title text-left>
            <img src="../assets/the-leader-logo.png" width="150">
        </ion-title>
        <ion-buttons [collapse]="true" slot="end">
            <ion-button>
                <ion-icon name="search-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <ion-list>
        <ion-list-header>
            <h3 class="color-text">หมวดหนังสือ</h3>
        </ion-list-header>
        <ion-item *ngFor="let itemCategory of dataList" (click)="gotoCategory(itemCategory.id_book_cate)" class="color-text">
            <ion-label>{{itemCategory.name_book_cate}}</ion-label>
            <ion-buttons>
                <ion-button class="color-text">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-item>
    </ion-list>


</ion-content>