<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <form [formGroup]="LoginForm" (ngSubmit)="submitForm()" novalidate>
        <ion-item>
            <ion-input label="Email" type="email" placeholder="email@domain.com" formControlName="email"></ion-input>
        </ion-item>
        <div *ngIf="this.LoginForm.controls?.email.touched && this.LoginForm.controls?.email.invalid">
            <div class="error ion-padding" *ngIf="errorControl['email'].errors?.required">
                <ion-text color="danger">Email is required.</ion-text>
            </div>
            <div class="ion-padding" *ngIf="errorControl.email.errors?.pattern">
                <ion-text color="danger">Please provide valid email.</ion-text>
            </div>
        </div>

        <ion-item>
            <ion-input label="Password" type="password" formControlName="password"></ion-input>
        </ion-item>
        <div *ngIf="this.LoginForm.controls?.password.touched && this.LoginForm.controls?.password.invalid">
            <div class="error ion-padding" *ngIf="errorControl['password'].errors?.required">
                <ion-text color="danger">Email is required.</ion-text>
            </div>
        </div>


        <ion-row>
            <ion-col>
                <ion-button type="submit" color="danger" expand="block">Sign In</ion-button>

                <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
            </ion-col>
        </ion-row>
    </form>
</ion-content>