<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start" (click)="gotoBack()">
            <ion-button>
                <ion-icon name="arrow-back-outline" class="color-text"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title> </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" *ngIf="dataDetailBook as itemDetailBook">
    <h1 class="header color-text">{{itemDetailBook.namebook_book}}</h1>
    <ion-grid class="color-text">
        <ion-row>
            <ion-col size="6">
                <img [src]="imageBaseUrl+'/image/cover_book/'+itemDetailBook.image_book" alt="itemDetailBook.namebook_book" />
                <!---รับรูปจาก webservice + รับรูปจาก database ซึ่งเพื่อค่าจะได้ตรงกัน-->
            </ion-col>
            <ion-col size="6" class="text-bold">
                <div class="mt-12 mb-12">ผู้แต่ง : {{itemDetailBook.author_book}}</div>
                <div class="mb-12">หมวดหนังสือ : {{itemDetailBook.name_book_cate}}</div>
                <div class="mb-12">ราคาปก : {{itemDetailBook.price_book}} บาท</div>
            </ion-col>
        </ion-row>
        <h5 class="text-bold">เรื่องย่อ</h5>
        <div [innerHTML]="itemDetailBook.detail_book" class="line-height"></div>
    </ion-grid>


</ion-content>

<ion-footer class="checkout" *ngIf="dataDetailBook as itemDetailBook">
    <div class="checkoutDetails">
        <div class="priceDetails">
            <ion-card-subtitle class="ion-inherit-color">ราคา</ion-card-subtitle>
            <h4>{{itemDetailBook.price_book}} บาท</h4>
        </div>
        <ion-button class="btncheckout" expand="block" color="new" (click)="AddToCart(itemDetailBook)">
            ซื้อสินค้า</ion-button>
    </div>
</ion-footer>